# 문제를 풀고 파일을  sogangori@naver.com 으로 보내주세요
# 이름 ( - - - )
### 필요한 데이터 파일은 https://github.com/PacktPublishing/Pandas-Cookbook 에서 다운받을 수 있습니다

### 문제 예) college 데이터 나타난 학교 수는 몇개입니까?

In [3]:
import pandas as pd
college = pd.read_csv('data/college.csv')
college.head(1)

,INSTNM,CITY,STABBR,HBCU,MENONLY,WOMENONLY,RELAFFIL,SATVRMID,SATMTMID,DISTANCEONLY,...,UGDS_2MOR,UGDS_NRA,UGDS_UNKN,PPTUG_EF,CURROPER,PCTPELL,PCTFLOAN,UG25ABV,MD_EARN_WNE_P10,GRAD_DEBT_MDN_SUPP
0,Alabama A & M University,Normal,AL,1.0,0.0,0.0,0,424.0,420.0,0.0,...,0.0,0.0059,0.0138,0.0656,1,0.7356,0.8284,0.1049,30300,33888

In [4]:
college.INSTNM.nunique()

7535

### 위와 같이 답을 출력하시면 됩니다

## 시험 시작 (총 10문제)

## 1. movie 데이터에서  영화별로 facebook 과 관련된 컬럼만 조회하세요
## 반드시 영화 제목이 같이 출력되야 합니다

## 2. movie 데이터에서 영화별로 평점이 누락된 데이터를 제거한 후 평점의 평균을 구하세요.

## 3.  배우1,2,3의 인기의 합이 가장 높은 영화 10편을 선별하세요

## 4. 평점이 9이상인 영화 중 가장 높은 수익을 올린 영화 3편을 선별하세요

## 5. college 데이터에서 인종 다양성 지수가 높은 학교 10개를 선별하세요
### 미국에서는 비율이 15% 이상인 인종 수가 많을 수록 인종 다양성이 높다고 측정했습니다
#### 백인 50%, 흑인 30%, 아시아인 20% 인 학교의 다양성 지수는 3입니다.
#### 백인 80%, 흑인 10%, 아시아인 10% 인 학교의 다양성 지수는 1입니다

## 6. flights 데이터에서 항공사별로 출발 및 도착 지연시간의 평균과 최대값을 구하세요. 소수점은 반올림합니다

## 7. employee 데이터에서 가장 높은 급여를 받는 직업 3개를 구하세요

## 8. chinook 데이터베이스 파일에는 employees 테이블이 있습니다. 1970년 이후에 태어난 직원의 수를 구하세요

## 9. crime 데이터에서 발생한 범죄 및 사고 횟수를 1달 간격으로 합산하여 하나의 line 그래프에 그리세요

## 10. am 0:00 ~ am 6:00 사이에 가장 많이 발생하는 범죄 10가지를 파이 그래프로 그리세요